<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="hibernate.dialect">
          org.hibernate.dialect.PostgreSQL82Dialect
      </property>
      <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
      <property name="hibernate.connection.username">postgres</property>
      <property name="hibernate.connection.password">1Passw0rd</property>
      <property name="hibernate.connection.url">jdbc:postgresql://db:5433/solutions</property>
      <property name="show_sql">true</property>
      <property name="hibernate.current_session_context_class">thread</property>
      <mapping class="com.cources.ppp.entity.Role"/>
      <mapping class="com.cources.ppp.entity.User"/>
  </session-factory>
</hibernate-configuration>